.Filter{
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background: #FFFFFF;
    box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1);
    transition: width 1s;
    overflow: hidden;
}

.filterheader{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    background: #E1F5FA;
    padding: 10px;
}

#FilterOpen{
    width: 30vw;
}

@media only screen and (max-width: 480px) {
    #FilterOpen{
        width: 85vw;
    }
}

#closebtn:hover{
    color:#0094FF;
    cursor: pointer;
}

.filterCondition{
    display: flex;
    justify-content: space-between;
    background: #e7ee81;
    padding: 10px;
}

.condition{
    position: relative;
    top: 15px;
    left: 15px;
    width: 272px;
    height: 106px;

    display: flex;

    background: #F0F7FD;
    border: 0.5px solid #0094FF;
    box-sizing: border-box;
    border-radius: 5px;
}

.condition p{
    position: absolute;
    top: 8px;
    left: 19px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.condition input[type=reset]{
    position: absolute;

    top: 9px;
    right: 14px;
    width: 44px;
    height: 16px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #0094FF;
    border: white;
    background-color: #F0F7FD;
    cursor: pointer;
}

#Medium{
    position:absolute;
    top: 42px;
    left: 19px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    border: white;
    

}

#Medium input[type=radio]{
    margin: 5px;
    cursor: pointer;
}

.clearAll {
    position: absolute;
    height: 60px;
    width: 408px;
    left: 0px;
    bottom: 0px;

    background: #FFFFFF;
    
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 5px 5px;
}

.deleteIcon{
    position: absolute;
    top: 20px;
    left: 20px;

    /* background: #F77A7A; */
}

.clearText{
    position: absolute;

    width: 92px;
    height: 16px;
    left: 44px;
    top: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #F14545;

}

.doneButton{
    position: absolute;
    top: 13px;
    right: 13px;    
    width: 83px;
    height: 34px;

    background: #3E8EF7;
    border-radius: 5px;
    border: #3E8EF7;
}