.bookCard{
    width:95%;
    height: 18vh;
    margin: 10px auto 0 auto;
    border:1px solid #C4C4C4;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}

.cardHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bbtn{
    position: absolute;
    width: 106px;
    height: 31px;
    right: 17px;
    top: 16px;

    background: #FFFFFF;
    border: 2px solid #0094FF;
    box-sizing: border-box;
    color: #0094FF;
}

.bookCard>p{
    font-size: smaller;
    width: 689px;
}

.cardHeadLeft{
    padding: 0 20px 0 20px;
}