.paginationItem{
    height: 40px;
    width: 40px;
    background-color: #E9E9E9;
    border: none;
    font-weight: bold;
    margin-left: 6px;
}

.paginationItem.active,.paginationItem:hover{
    background-color: #0094FF;
    color: black;
}

.pagination{
    margin: 20px auto 20px auto;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.disabled{
    display: none;
}

.dataContainer{
    height: 60vh;
    overflow-y: scroll;
}