

.loginForm{
    margin: 30vh auto 0 auto;
    width: 20vw;
    background:#FFFFFF;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;

}

.loginForm>input{
    padding: 6px;
    margin: 8px;
    outline: none;
    width: 80%;
    box-sizing: border-box;
}

.loginForm>button{
    padding: 6px;
    margin: 20px 10px 20px 10px;
    background-color: #0094FF;
    border:1px solid black;
    border-radius: 2px;
    width: 80%;
}


@media only screen and (max-width: 480px) {
    .loginForm{
        width: 60vw;
    }
}